.section-9 {
  padding: var(--padding);
}
.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  margin-top: 20px;
  font-weight: 700;
}
.social-icon {
  font-size: 25px;
}
